In [1]:
import pandas as pd

df = pd.read_pickle('./data/flats_clean.pkl')

### Categorical to numerical

In [2]:
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

### Prune useless columns

In [14]:
df1 = df[[
    'Numer oferty',

    # 'url',
    'Liczba pokoi',
    'Piętro',
    'Liczba pięter',
    # 'Adres',
    # 'opis',
    # 'Rynek',
    'Powierzchnia',
    'Czynsz administracyjny',
    'Stan nieruchomości',
    'Umeblowanie',
    # 'Dostępne od',
    'Rodzaj budynku',
    'Rok budowy',
    'Materiał',
    'Winda',
    'Domofon',
    'Wysokość pomieszczeń (cm)',
    'Podłoga_Panele',
    'Podłoga_Terakota',
    'Podłoga_Wykładzina',
    'Podłoga_Płytki',
    'Podłoga_Deska',
    'Podłoga_Wylewka',
    'Podłoga_Inna',
    'Typ kuchni',
    'Liczba łazienek',
    'Parking_Na_Ulicy',
    'Parking_Miejsce',
    'Parking_Garaż',
    'Parking_Inny',
    'Komunikacja_Autobus',
    'Komunikacja_Kolej',
    'Komunikacja_PKS',
    'W_pobliżu_Bocznica kolejowa',
    'W_pobliżu_Morze',
    'W_pobliżu_Rzeka',
    'W_pobliżu_Basen',
    'W_pobliżu_Hala sportowa',
    'W_pobliżu_Jezioro',
    'W_pobliżu_Przychodnia lekarska',
    'W_pobliżu_Fitness',
    'W_pobliżu_Plac zabaw',
    'W_pobliżu_Blacharnia',
    'W_pobliżu_Bank',
    'W_pobliżu_Bar',
    'W_pobliżu_Restauracja',
    'W_pobliżu_Sklep',
    'W_pobliżu_Kort tenisowy',
    'W_pobliżu_Szkoła',
    'W_pobliżu_Zabudowa niska',
    'W_pobliżu_Żłobek',
    'W_pobliżu_Komenda policji',
    'W_pobliżu_Park',
    'W_pobliżu_Gimnazjum',
    'W_pobliżu_Przystań',
    'W_pobliżu_Apteka',
    'W_pobliżu_Bazarek',
    'W_pobliżu_Las',
    'W_pobliżu_Kościół',
    'W_pobliżu_Szpital',
    'W_pobliżu_Centrum handlowe',
    'W_pobliżu_Przedszkole',
    'Typ_mieszkania_Dwupoziomowe',
    'Typ_mieszkania_Apartament',
    'Typ_mieszkania_inne',
    'Typ_mieszkania_Z_pokojem_przechodnim',
    'Typ_mieszkania_Piętro_domu',
    'Typ_mieszkania_Z_antresolą',
    'Typ_mieszkania_Rozkładowe',
    'Typ_mieszkania_Jednopoziomowe',
    'Balkon',
    'Alarm',
    'Monitoring',
    'Ochrona',
    'Recepcja',
    'Teren ogrodzony',
    'Liczba oddzielnych toalet',

    'Cena',
    'Cena za m2',
]]

df1 = df1.dropna()
df1

,Numer oferty,Liczba pokoi,Piętro,Liczba pięter,Powierzchnia,Czynsz administracyjny,Stan nieruchomości,Umeblowanie,Rodzaj budynku,Rok budowy,...,Typ_mieszkania_Jednopoziomowe,Balkon,Alarm,Monitoring,Ochrona,Recepcja,Teren ogrodzony,Liczba oddzielnych toalet,Cena,Cena za m2
0,28111/3685/OMS,2,2,4,47.88,930.00,9,3,2,2017.0,...,False,1,0,1,1,1,1,0,756000.0,15789.0
1,28902/3685/OMS,2,4,4,43.20,710.00,5,0,8,1965.0,...,False,1,0,0,0,0,0,0,400000.0,9259.0
2,28987/3685/OMS,2,4,6,32.75,290.00,9,3,2,2022.0,...,False,1,0,1,0,0,1,0,475000.0,14504.0
3,26218/3685/OMS,3,4,4,68.50,770.00,8,-1,8,1970.0,...,False,1,0,0,0,0,0,2,475000.0,6934.0
4,31133/3685/OMS,2,1,4,41.81,544.25,0,-1,8,2012.0,...,True,1,0,1,0,0,1,0,550000.0,13155.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,22101/3685/OMS,5,0,2,125.09,0.00,11,2,9,2024.0,...,False,1,0,0,0,0,1,0,990000.0,7914.0
88,28798/3685/OMS,4,6,7,103.38,1342.00,0,0,0,2001.0,...,False,1,0,0,0,0,0,0,950000.0,9189.0
89,27282/3685/OMS,1,0,4,32.04,504.99,8,3,5,2009.0,...,True,1,0,1,0,0,0,0,352440.0,11000.0
91,26784/3685/OMS,2,5,6,36.82,250.00,9,3,8,2022.0,...,True,1,0,1,0,0,0,0,620000.0,16839.0
92,25484/3685/OMS,4,2,3,131.88,959.03,8,-1,6,1930.0,...,False,1,0,0,0,0,0,0,930000.0,7052.0

In [8]:
obj_columns = df1.select_dtypes(['object']).columns[1:]
df1[obj_columns] = df1[obj_columns].astype(int)

In [17]:
import os 

df1 = df1.drop(df1[df1['Numer oferty'] == '31093/3685/OMS'].index)

def count_photos(row):
    offer_id = row['Numer oferty']
    index = 0
    for root, _, files in os.walk(f"./images/{offer_id}"):
        for file in files:
            if file.endswith(".jpg") and "all" not in file and "wp" not in file:
                    index += 1

    if index == 0:
        print(f"No photos for offer {offer_id}")
        return None
    
    return row

df1.apply(count_photos, axis=1)

,Numer oferty,Liczba pokoi,Piętro,Liczba pięter,Powierzchnia,Czynsz administracyjny,Stan nieruchomości,Umeblowanie,Rodzaj budynku,Rok budowy,...,Typ_mieszkania_Jednopoziomowe,Balkon,Alarm,Monitoring,Ochrona,Recepcja,Teren ogrodzony,Liczba oddzielnych toalet,Cena,Cena za m2
0,28111/3685/OMS,2,2,4,47.88,930.00,9,3,2,2017.0,...,False,1,0,1,1,1,1,0,756000.0,15789.0
1,28902/3685/OMS,2,4,4,43.20,710.00,5,0,8,1965.0,...,False,1,0,0,0,0,0,0,400000.0,9259.0
2,28987/3685/OMS,2,4,6,32.75,290.00,9,3,2,2022.0,...,False,1,0,1,0,0,1,0,475000.0,14504.0
3,26218/3685/OMS,3,4,4,68.50,770.00,8,-1,8,1970.0,...,False,1,0,0,0,0,0,2,475000.0,6934.0
4,31133/3685/OMS,2,1,4,41.81,544.25,0,-1,8,2012.0,...,True,1,0,1,0,0,1,0,550000.0,13155.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,22101/3685/OMS,5,0,2,125.09,0.00,11,2,9,2024.0,...,False,1,0,0,0,0,1,0,990000.0,7914.0
88,28798/3685/OMS,4,6,7,103.38,1342.00,0,0,0,2001.0,...,False,1,0,0,0,0,0,0,950000.0,9189.0
89,27282/3685/OMS,1,0,4,32.04,504.99,8,3,5,2009.0,...,True,1,0,1,0,0,0,0,352440.0,11000.0
91,26784/3685/OMS,2,5,6,36.82,250.00,9,3,8,2022.0,...,True,1,0,1,0,0,0,0,620000.0,16839.0
92,25484/3685/OMS,4,2,3,131.88,959.03,8,-1,6,1930.0,...,False,1,0,0,0,0,0,0,930000.0,7052.0

In [18]:
df1.to_pickle('./data/flats_train.pkl')

In [19]:
df1.dtypes

Numer oferty                  object
Liczba pokoi                  object
Piętro                        object
Liczba pięter                 object
Powierzchnia                 float64
                              ...
Recepcja                        int8
Teren ogrodzony                 int8
Liczba oddzielnych toalet       int8
Cena                         float64
Cena za m2                   float64
Length: 76, dtype: object